<%= form_with(model: message_template, local: true) do |form| %>
  <% if message_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message_template.errors.count, "error") %> prohibited this message_template from being saved:</h2>

      <ul>
        <% message_template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <p>
    You can use these values for interpolation (use %{}, i.e %{user.name}):
    <i>
      <%= MessageTemplate.allowed_for_interpolation.join(", ") %>
    </i>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
